@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-sidebar: var(--sidebar);
  --color-background-2: var(--background-2);
  --color-bg-hover: var(--bg-hover);
}

:root {
  --background: #fbfdff; /* Light grayish background */
  --foreground: oklch(0.129 0.042 264.695); /* Dark text */
  --primary: oklch(0.208 0.042 265.755); /* Blue for buttons */
  --accent: #dde3ea; /* Subtle accent for hover/secondary */
  --input: oklch(0.929 0.013 255.508); /* Input fields */
  --border: oklch(0.929 0.013 255.508);
  --sidebar: #f0f4f9;
  --background-2: #fbfdff;
  --bg-hover: #dfe4ea;
}

.dark {
  --background: #1b1c1d; /* Dark navy background like StableProxy */
  --foreground: #E0E0E0; /* Light gray text */
  --primary: #f0f4f9; 
  --accent: #E3E3E314; 
  --input: #2A2F45; 
  --border: #3A3F5A;
  --sidebar: #282a2c;
  --background-2: #1e1f20;
  --bg-hover: #18191a;; 
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.font-titillium {
  font-family: 'Titillium Web', sans-serif;
} 

/* body {
  font-family: 'Titillium Web', sans-serif;
} */